# =====================
# Unreal Engine 5
# =====================

# Dossiers générés
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
FileOpenOrder/

# Plugins (garder le source, ignorer le généré)
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Whitelists Build
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Assets compilés
*_BuiltData.uasset

# =====================
# Visual Studio / Rider
# =====================
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
*.code-workspace

# =====================
# Xcode (Mac)
# =====================
*.xcodeproj
*.xcworkspace

# =====================
# Compilateur
# =====================
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

# =====================
# SourceArt précompilé
# =====================
SourceArt/**/*.png
SourceArt/**/*.tga

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
desktop.ini
